<section class="card">
  <a href="/painting/{{id}}">
    <header>{{product_name}}</header>

    <div class="card-body">
      <img src="/images/{{image_source}}" alt="{{description}}">
      <p>Price $:{{price}}</p>
    </div>
  </a>
</section>